/* div#translate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: aliceblue;
    background-color: blue;
    transform: translate(100px,50px);
    padding: 10px;

}

div#rotate {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: aliceblue;
    background-color: blue;
    padding: 10px;
    transform: rotate(90deg);
}

div#scale {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: aliceblue;
    background-color: blue;
    padding: 10px;
    /* transform: scale(1,2); */
    /* transform: scaleX(3); */
    /* transform: scaleY(3);
}

div#skewx {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(255, 0, 64);
    padding: 10px;
    transform: skewX(-40deg);
    
}

div#skewy {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(44, 4, 14);
    padding: 10px;
    transform: skewY(40deg);
    
}

div#rotatex {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(44, 4, 14);
    padding: 10px;
    transform: skewY(130deg);
    
}

div#rotatey {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(44, 4, 14);
    padding: 10px;
    transform: rotateY(130deg);
    
}

div#rotatez {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(44, 4, 14);
    padding: 10px;
    transform: rotatez(130deg);
    
} */ 

div {
    width: 100px;
    height: 100px;
    background: red;
    transition: background 3s, border-radius 5s;
    transition-timing-function: ease-in-out;
    /* transition-timing-function: linear; */
}

div:hover {
    background: rgb(55, 0, 255);
    border-radius: 50%;
}

#figure_1 img{
   transform: scale(1);
   transition: 3s ease-in-out;
}

#figure_1:hover img {
    transform: scale(1.3);
}

#figure_2 img{
    margin-left: 0px;
    transition: 3s ease-in-out;
 }

#figure_2:hover img {
    margin-left: 60px;
}

#figure_3 img{
    filter: blur(3px);
    transition: 3s ease-in-out;
 }

#figure_3:hover img {
    filter: blur(0);
}

#figure_4 img{
    filter: blur(100%);
    transition: 3s ease-in-out;
 }

#figure_4:hover img {
    filter: grayscale(0);
}

.loader img{
    margin: 100px;
}

.loader img{
    display: inline-block;
    width: 10px;
    length: 10px;
    border-radius: 50%;
    margin-left: 8px;
    animation: bounce 8s infinite alternate;
}

@keyframes bounce{
    to {
        width: 150px;
        height: 150px;
        transform: translate(0,-50,0);
    }
}

